.feature-item {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  align-items: center;
  height: fit-content;
  transition: all 1s ease-in-out;

  a {
    color: white;
    border-radius: 8px;
    font-size: 16px;
    padding: 6px 12px;
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;
    flex: 1;
    text-align: end;
    cursor: pointer;
    background: #1e293b;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.05);

    &:hover {
      box-shadow: rgba(0, 1, 0, 0.2) 0 2px 8px;
      background-color: rgba(255, 255, 255, 0.35);
    }

    &:active {
      box-shadow: none;
      top: 2px;
      box-shadow: inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2),
        0px 0.5px 1px rgba(0, 0, 0, 0.1),
        0px 0px 0px 1px rgba(58, 108, 217, 0.5);
      outline: 0;
    }

    &:focus {
      box-shadow: rgba(0, 0, 0, 0.5) 0 0 0 3px;
    }
  }

  .edit-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 6px 12px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    background-color: #0a66c2;
    font-weight: 600;

    &:active {
      background: #09223b;
      color: rgb(255, 255, 255, 0.7);
    }

    &:hover,
    &:focus {
      background-color: #16437e;
      color: #ffffff;
    }
  }

  .delete-btn {
    background: #e74c3c;
    border-radius: 8px;
    color: #ffffff;
    cursor: pointer;
    font-size: 16px;
    padding: 6px 12px;
    font-weight: 600;
    outline: 0;
    text-align: center;

    &:hover {
      background: #c0392b;
    }

    &:active {
      background: #c0392b;
    }
  }
}
