.feature-modal {
  background: rgba(0, 0, 0, 0.8);
  color: white;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.4);
  animation: fadeIn ease-in-out 1s;
  padding: 0 12px;
  min-width: 555px;

  .react-responsive-modal-closeButton {
    display: none;
  }

  .modal-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 24px;

    input[type="text"],
    textarea {
      background-color: rgba(255, 255, 255, 0.1);
      border: 1px solid white;
      border-radius: 6px;
      color: white;
      padding: 12px;
      margin-bottom: 20px;
      width: 100%;
      box-sizing: border-box;
      font-size: 16px;
      font-family: Arial, Helvetica, sans-serif;
      line-height: normal;

      &::placeholder {
        color: rgba(255, 255, 255, 0.7);
      }

      &:focus-visible {
        outline: none;
      }
    }

    .modal-footer {
      display: flex;
      justify-content: space-between;
      align-items: center;

      button {
        background-color: #3498db;
        color: white;
        border: none;
        border-radius: 6px;
        padding: 12px 24px;
        cursor: pointer;
        transition: background-color 0.3s ease;

        &:hover {
          background-color: #2980b9;
        }

        &[disabled] {
          opacity: 0.6;
          pointer-events: none;
        }
      }
    }
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: scale(0.9);
    }
    to {
      opacity: 1;
      transform: scale(1);
    }
  }
}
