.Home {
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: white;
  height: 100%;

  h1 {
    text-align: center;
    margin: 1rem auto;
  }

  h2 {
    text-align: center;
  }

  button {
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    border: none;
    cursor: pointer;

    &:active {
      transform: scale(0.9);
    }
  }
}