.Home {
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: white;
  height: 100%;

  h1 {
    text-align: center;
    padding: 1rem 0;
  }

  h2 {
    font-style: italic;
    text-align: center;
  }

  button {
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
    height: 30px;
    padding: 6px;
    outline: none;
    border: none;
    background-color: rgba(255, 255, 255, 0.3);
    color: white;
    border-radius: 4px;
    width: fit-content;

    & :active {
      transform: scale(0.9);
    }
  }

  .columns {
    position: relative;
    display: flex;
    justify-content: space-around;
    height: 85%;

    &::after {
      position: absolute;
      content: "";
      top: 15px;
      left: 50%;
      transform: translateX(-50%);
      width: 3px;
      height: calc(100% - 15px);
      min-height: 80vh;
      background: white;
    }

    .side {
      flex: 1;
      padding: 1rem;
      display: flex;
      flex-direction: column;
      gap: 12px;

      .form-header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .empty-btn {
          display: flex;
          justify-content: center;
          align-items: center;
          background: red;

          span {
            font-size: 14px;
            padding-top: 2px;
          }
        }
      }

      .feature-list {
        display: flex;
        flex-direction: column;
        gap: 12px;

        .feature-item {
          display: flex;
          justify-content: space-between;
          align-items: center;
          height: fit-content;
          word-break: break-all;

          button {
            min-width: fit-content;
          }
        }
      }
    }
  }
}
