.side {
  flex: 1;
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  gap: 1.4rem;

  .form-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.625rem;

    .add-new-modal-btn {
      background-color: rgba(255, 255, 255, 0.65);
      border-radius: 8px;
      color: #0d172a;
      padding: 0.375rem 0.625rem;
      font-weight: 600;

      &:hover {
        background-color: #1e293b;
        color: #fff;
      }
    }

    .empty-btn {
      display: flex;
      justify-content: center;
      align-items: center;
      background: #dc322f;
      border-radius: 8px;
      color: #ffffff;
      cursor: pointer;
      padding: 0.375rem 0.625rem;
      font-weight: 600;
      outline: 0;
      border: none;
      transition: 0.3s;
      text-align: center;

      &:disabled {
        pointer-events: none;
      }

      &:hover,
      &:active {
        background: #c0392b;
      }
    }
  }
}
